<style>
        ul#container {
                width: 70%;
                padding: 0;
                margin: 0 15%;
                column-count: 1;
                column-gap: 5em;
        }

        li.subcontainer {
                display: inline-block;
                list-style-type: none;
                font-size: 18px;
                color: black;
                margin-bottom: 1em;
        }

        .description-content {
                border-bottom: 1px solid black;
        }

        .news-img-section {
                margin: 0 auto;
                text-align: center;
        }

        .multi-img {
                display: flex;
                height: 16em;
                width: 50%;
                margin: 0 13%;
          	padding-bottom: 0.5em;
        }

        .news-img {
                width: 75%;
        }
  
        #pageControl {
    display: flex;
    padding: 20px;
    margin-top: 10px;
    
    
  }
  
  .pg-Control {
    margin-left: 15px;
   margin: 0 auto;
  }
  
  .pgButton {
    background-color: #bababa;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
  }
   .pgButton:hover {
    background-color: #dbdbdb;
  }
</style>



<ul id="container">
        <li class="subcontainer" id="0" data-tag="">
                <h3 class="titles" id="macesMeet">MACES Center Wide Meeting</h3>

                <h6 class="dates">December 6, 2017</h6>
                <div class="description-content">
                        <p>
                                MACES hosted a center wide meeting on December 6th, 2017. It began with a faculty meeting and was followed by the grand slam, coffee and cookie social, and ended with a faculty brainstorming session. The successful coffee and cookie attracted around
                                70 people.
                        </p>
                        <div class="news-img-section">
                                <img class="news-img" src="https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a32ee8ec8302501f6183cfd/1513287319117/MacesMeeting1.JPG" />
                        </div>
                </div>

        </li>

  

        <li class="subcontainer" id="0" data-tag="">
                <h3 class="titles">Grad Slam</h3>

                <h6 class="dates">December 6, 2017</h6>
                <div class="description-content">
                        <p>
                                Congrats Bin Yao, A’lester Allen, and Katerina Nikolaidou on winning 1st, 2nd, and 3rd place at the MACES 2017 GradSlam!
                        </p>
                        <div class="news-img-section multi-img">
                                <img class="news-img" src="https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a32eae0e2c483d1c9307d06/1513286374057/GradSlam.png" />
                                <img class="news-img" src="https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a32f3e5f9619ab1aad5ede0/1513288685817/MacesMeeting3.JPG" />
                        </div>
                </div>
        </li>

        <li class="subcontainer" id="0" data-tag="" style="clear: both;">
                <h3 class="titles">Affiliate Presentation</h3>

                <h6 class="dates">November 3, 2017</h6>
                <div class="description-content">
                        <p>
                                Professor Thomas E. Mallouk is Evan Pugh Professor at the Pennsylvania State University. He is an Associate Editor of the Journal of the American Chemical Society and Associate Director of the Penn State MRSEC, the Center for Nanoscale Science. He visited
                                UC Merced on November 3, 2017 and delivered a well-received seminar on managing electrons and protons in the bio-inspired production of fuel from sunlight. He also had lunch with MACES fellows and provided useful advice
                                on how to make the best out of graduate study.
                        </p>
                        <div class="news-img-section">
                                <img class="news-img" src="https://i.imgur.com/IuigbkJ.jpg" />
                        </div>
                </div>
        </li>

        <li class="subcontainer" id="0" data-tag="">
                <h3 class="titles">Affliate Presentation</h3>

                <h6 class="dates">October 30, 2017</h6>
                <div class="description-content">
                        <p>
                                Dr. Jing Li is a principle investigator at NASA Ames Research Center (ARC) working on nanostructured materials for energy storage devices and sensor technology development. She has won multiple awards including: Ames Honor Award on Technology Transfer
                                and Commercialization in 2015, NASA Exceptional Space Act Award in 2013, and NASA Government Invention of the Year in 2012. She visited UC Merced on October 30, 2017 and had informed students about the different NASA programs
                                for research and internship in materials, energy and sensors development.
                        </p>

                        <div class="news-img-section">
                                <img class="news-img" src="https://i.imgur.com/j0BtTt7.jpg" />
                        </div>
                </div>
        </li>

        <li class="subcontainer" id="0" data-tag="">
                <h3 class="titles">Affiliate Presentation</h3>

                <h6 class="dates">October 20, 2017</h6>
                <div class="description-content">
                        <p>
                                Dr. Piotr Zelenay is a world-renowned expert in the polymer membrane fuel cell technology. He is also a lab fellow and project leader at Los Alamos National Laboratory (LANL). He visited UC Merced on October 20th, 2017 and delivered a great scientific
                                talk about the recent development for oxygen reduction reaction metal-free catalysts. He also had lunch with MACES fellows and spent time with students to answer their questions about career planning.
                        </p>
                        <div class="news-img-section">
                                <img class="news-img" src="https://i.imgur.com/XPvAeO5.jpg" />
                        </div>
                </div>
        </li>

        <li class="subcontainer" id="0" data-tag="">
                <h3 class="titles">Lick Observatory Tour</h3>

                <h6 class="dates">October 6, 2017</h6>
                <div class="description-content">
                        <p>
                                MACES faculty Dr. David Strubbe introduced 14 students to the Lick Observatory on Mt. Hamilton near San Jose. Specialists from the Lick Observatory gave a hands on introduction of the automated telescope searching for extrasolar planets and a variety
                                of astronomical discoveries made over the past 150 years.
                        </p>
                        <div class="news-img-section">
                                <img class="news-img" src="http://physics.ucmerced.edu/sites/physics.ucmerced.edu/files/styles/large/public/news/image/img_4734.jpg?itok=SRYR6rWn" />
                        </div>
                </div>
        </li>

        <li class="subcontainer" id="0" data-tag="">
                <h3 class="titles">Graduate Student Recognition</h3>

                <h6 class="dates">October 6, 2017</h6>
                <p class="description-content">
                        Victoria and James were recognized by receiving the Exceptional Contribution Award from Advanced Materials and Processing Branch of NASA Langley Research Center for their excellent internship activities.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">2017 Graduate Summer Program</h3>

                <h6 class="dates">August 14, 2017</h6>
                <p class="description-content">
                        The 2017 MACES Summer Graduate Student Fellowships have offered students to conduct NASA relevant research projects in the summer. All the fellows presented their research outcomes after a 12-week long research.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Graduate Training</h3>

                <h6 class="dates">March 23, 2017</h6>
                <p class="description-content">
                        Professor Do Yoon, former manager of Polymer Physics Group at IBM Almaden Research, currently consulting Professor at Stanford University, attended the thrust meeting for the mid-point MACES graduate fellow presentation. After the meeting, he met with
                        MACES graduate and undergraduate students and answered their questions about career planning and mentor and mentee relationship etc.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Seminar</h3>

                <h6 class="dates">January 27, 2017</h6>
                <p class="description-content">
                        Professor David Weitz from Harvard University, director of Materials Research Science and Engineering Centers gave a presentation on the Magic of Microfluidics: dripping, jetting, drops and wetting. He also discussed with MACES faculty members about setting
                        priorities: focusing on excellent research and education so the Center can be renewed after five years.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Undergraduates</h3>

                <h6 class="dates">January 6, 2017</h6>
                <p class="description-content">
                        Derek Brigham, an undergraduate MACES fellow, landed an engineer position at Pratt & Whitney.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Undergraduates</h3>

                <h6 class="dates">January 5, 2017</h6>
                <p class="description-content">
                        MACES undergraduate students presented their research. Overall the faculty panel led by Prof. Ghosh thinks that this cohort delivered very good talks, Thank to all faculty members, graduate student mentors and our MACECS undergraduate research fellows.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Graduate Students</h3>

                <h6 class="dates">November 11, 2016</h6>
                <p class="description-content">
                        Carlos Ortuno, Simranjit Grewal, and Angela Macedo Andrade were selected to attend the 2016 Southern Regional Education Board’s 2016 Institute on Teaching and Mentoring from October 27 to October 30 at the Tampa Marriott Waterside Hotel. They all have
                        found this conference very useful for them. “As a minority it is inspiring to see and hear success stories of others and what they had to overcome to be where they are.” - Simranjit “Time management is important” - Angela “Be tough,
                        not get stressed out”- Carlos.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Graduate Students</h3>

                <h6 class="dates">September 13, 2016</h6>
                <p class="description-content">
                        MACEs fellows Som Sarang and Kat Nikulaidou both have been selected for 2017 Southern California Edison Fellowship. Congratulations!
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Seminar</h3>

                <h6 class="dates">July 11, 2016</h6>
                <p class="description-content">
                        Dr. Li, an acclaimed principal investigator at NASA-Ames, who pioneered a carbon nanotube-based sensor module, the first space-flown nano-device, visited UC Merced.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Seminar</h3>

                <h6 class="dates">December 3, 2015</h6>
                <p class="description-content">
                        Dr. Thomas I Valdez delivered a talk to over 80 students and faculty members at UC Merced on November 30th. Advances in fuel cell technology by both NASA and the automotive industry have broaden the use of this technology for a wide spectrum of robotic
                        and mobility applications. The regenerative fuel cells that are being explored to power planetary orbiters and rovers will make it possible to conduct long-duration space operations. Dr. Valdez is currently a Senior Member of the
                        Technical Staff at the Jet Propulsion Laboratory (JPL). Dr. Valdez is a Senior Member of Technical Staff at the JPL. His career began in the summer of 1991 as a major contributor to the study of fundamentals of methanol fuel cells.
                        Dr. Valdez has received various NASA New Technology Awards, patented his work on fuel cells, electrochemical sensors and energy harvesting systems.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Undergraduate</h3>

                <h6 class="dates">November 2, 2015</h6>
                <p class="description-content">
                        MACES welcome its first cohort of 5 undergraduate fellows who will join the center in Fall 2015. Selected from a superlative pool of applicants, the fellows will be mentored by MACES faculty and graduate students as they engage in research in the energy
                        and sensing thrusts and map out a career path that may one-day lead to NASA.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Dr. Dionne Hernandez-Lugo</h3>

                <h6 class="dates">June 30, 2017</h6>
                <p class="description-content">
                        Our technical review board chair, Dr. Dionne Hernandez-Lugo, visited us. She met undergraduate students and listened to research presentations from 12 graduate students.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Solar Energy</h3>

                <h6 class="dates">February 6, 2017</h6>
                <p class="description-content">
                        A collaborative effort by, Professors Vincent Tung and Sayantani Ghosh with graduate student Som Sarang, has led to three recently published new research papers on the discovery of a low-cost and high throughput way of using perovskites for efficiently
                        harvesting solarenergy. <a href="http://www.ucmerced.edu/news/2017/raindrops-red-wine-inspire-sular-tech-advancements">Raindrops Red Wine Inspire Sular Tech Advancements</a>
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Cell-Sized Membranes</h3>

                <h6 class="dates">January 4, 2017</h6>
                <p class="description-content">
                        UC Merced Professor Anand Subramaniam and his students have come up with a novel, portable and startlingly simple way to create cell-sized membranes out of the phospholipid molecules present in real cell membranes.... <a href="http://www.ucmerced.edu/news/2017/scientists-build-synthetic-cell-sized-membranes-out-paper">Scientists-Build-Synthetic Cell Sized Membranes Out Paper </a>
                        <a href="http://pubs.acs.org/doi/abs/10.1021/acsami.6b11960">http://pubs.acs.org/doi/abs/10.1021/acsami.6b11960</a>
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Fellowships</h3>

                <h6 class="dates">October 18, 2016</h6>
                <p class="description-content">
                        MACES fellow Yen-Chang Chen have been selected for 2017 BEST Dissertation Fellowship. Congratulations!
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">MACES Fellows</h3>

                <h6 class="dates">August 30, 2016</h6>
                <p class="description-content">
                        MACES Fellows Kat and Som publish their study on the "Hybrid perovskite thin films as highly efficient luminescent solar concentrators" has been accepted for publication in Advanced Optical Materials! Congrats!!
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Publication By MACES Fellows</h3>

                <h6 class="dates">August 13, 2016</h6>
                <p class="description-content">
                        MACES Fellows Som Sarang and Yen-Chang Chen publish their study on the "Low temperature excitonic spectroscopy and dynamics as a probe of quality in hybrid perovskite thin films" on Physical Chemistry Chemical Physics. Congrats!!
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Grant</h3>

                <h6 class="dates">July 24, 2016</h6>
                <p class="description-content">
                        NSF has awarded UC Merced a major center grant: Center for Cellular and Biomolecular Machines (CCBM) of a total amount of $4,998,765 (2016-20). MACES researchers, including Jennifer, Sayantani, Tao, Anand and Vincent, play pivotal rules across various
                        research themes: synthesis, assembly, integration and modeling work of novel sensing and biomolecular machines. Congratulations!
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Perovskite Quantum Dots Publication</h3>

                <h6 class="dates">July 21, 2016</h6>
                <p class="description-content">
                        MACES researcher Jing Zhang at UCSC has pioneered the design of ligand-capped perovskite quantum dots that may have far-reaching implications for synthesis of highly stable perovskite photovoltaics! The paper is published in Angewandte Chemie International
                        Edition. Congratulations! More details can be found here.
                </p>
        </li>

        <li class="subcontainer">
                <h3 class="titles">Grant</h3>

                <h6 class="dates">June 14, 2015</h6>
                <p class="description-content">
                        A $5 million grant will lead to innovative nanotechnology solutions for space exploration missions and increase the number of science, technology, engineering and math graduates.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">CSU Outreach</h3>

                <h6 class="dates">October 6, 2017</h6>
                <p class="description-content">
                        Carlos Ortuno-Quintana presented his research experience from his internship at NASA Glenn to a group of students at CSU San Jose; where he received his bachelor’s degree. His research at NASA Glenn consisted of the fabrication of new battery devices.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Students Visit Telescopes At Lick Observatory</h3>

                <h6 class="dates">October 6, 2017</h6>
                <p class="description-content">
                        UC Merced students visited <a href="http://uculick.org/main/index.html">Lick Observatory</a> for a tour of the telescopes, such as the historic 36-inch Great Refractor telescope, and a lecture on the history of the site. Prof.
                        David Strubbe brought 16 students to see the site, which is owned by the University of California system. Lick is about 2.5 hours away from Merced. We learned about the astronomical discoveries made there over the past 150 years,
                        saw the newest telescopes searching for extrasolar planets, and toured facilities for stellar spectroscopy and maintaining the telescope mirrors. We visited control rooms used for observing on site (and remotely) by researchers
                        from across the UC campuses. After a beautiful sunset from the mountaintop at 4200 feet, we had a nice, clear night for observing with the 36-inch refractor, led by two docents. Everyone got a chance to look through the eyepiece
                        at Albireo ("the UC star" since it is a pair of blue and gold stars), the Ring Nebula, the M15 globular star cluster in Pegasus, NGC 7331, and the Blue Snowball nebula. The trip was sponsored by the NASA-funded MACES.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Undergraduate Recruitment</h3>

                <h6 class="dates">October 5, 2017</h6>
                <p class="description-content">
                        Ian Hill introduced MACES undergraduate and graduate programs to fellow students at CSU Stanislaus, to gather recruitments for the summer undergraduate and graduate fellowships.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">NASA-Glenn Visit</h3>

                <h6 class="dates">August 1, 2017</h6>
                <p class="description-content">
                        Our faculty visited NASA-Glenn research laboratories.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Open House</h3>

                <h6 class="dates">April 19, 2017</h6>
                <p class="description-content">
                        Tamara Jernigan will visit the University of California Merced as a keynote speaker for the Open House put on by MACES. She will describe what it was like during her space travels and how it felt to walk around a space shuttle. Then talk about and answer
                        questions about further space exploration.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Implementation Nanotechnulogy Modules</h3>

                <h6 class="dates">March 21, 2017</h6>
                <p class="description-content">
                        Graduate student Zachary Perek (Prof. Tao Ye), Carlos Ortuno (Prof. Jennifer Lu) and Joseph Pozzi (Prof. Anand Subramaniam) visited Livingston high school. They demonstrated the nanomaterials enhanced drug release system to students in four different
                        classes.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Implementation Nanotechnulogy Modules</h3>

                <h6 class="dates">March 10, 2017</h6>
                <p class="description-content">
                        Graduate student Melissa Xu (Prof. Anand Subramaniam), Ian Hill (Prof. Jennifer Lu) and Qufei Guo (Prof. Tao Ye) visited Buhach Colony High School. They presented an interactive Crime Lab module as an accessible illustration of the principles of nanomaterial-enabled
                        bio sensing to students in five different classes.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Recruitment Trip</h3>

                <h6 class="dates">February 7, 2017</h6>
                <p class="description-content">
                        February 7 Professor Tao Ye and Jennifer Lu visited California State University at Sacramento. Professor Sayantani Ghosh visited California State University Stanislaus and Professor Ashlie Martini visited Merced College in February to introduce our graduate
                        training and our summer non-UC Merced undergraduate training program.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">NASA Connection</h3>

                <h6 class="dates">December 1, 2016</h6>
                <p class="description-content">
                        Dr. James Wu from NASA-Glenn visited us. He met with MACES students for lunch. He opened his lecture with an overview of energy research at NASA Glenn followed by an account of his battery-related research. He also discussed possible collaboration topics
                        with MACES's faculty.
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Implementation Nanotechnulogy Modules</h3>

                <h6 class="dates">November 10, 2016</h6>
                <p class="description-content">
                        On Oct 14 and Nov 10, MACES graduate research fellows, Angela Macedo Andrade, Som Sarang, Mark Bartul, Jussi Amaral, Vipawee Limsakoune and Zachary Petrek implemented two nanotechnology modules at local high schools “water splitting to generate hydrogen
                        fuels “ and “unique properties of nanomaterials- large surface area, why Alka-Seltzer is effective”
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Lifesaver</h3>

                <h6 class="dates">August 31, 2016</h6>
                <p class="description-content">
                        MACEs faculty Professor Anand Subramaniam shares his passion, vision and Possible Lifesaver in a research lab. The story has been featured on the <a href="http://www.ucmerced.edu/news/2016/engineering-students-find-success-passion-and-possible-lifesaver-research-lab">school of engineering</a>.
                        Cheers!
                </p>
        </li>
        <li class="subcontainer">
                <h3 class="titles">Educational Module Development</h3>

                <h6 class="dates">August 15, 2016</h6>
                <p class="description-content">
                        MACES faculty and graduate students kicked-off their educational module development for high school teachers with a weeklong workshop on June 6 -10. Attended by six teachers selected from a large pool of applicants, the workshop developed modules that
                        will be used in classrooms at Merced Gulden Valley HS, Buhach Colony HS and Livingstone HS in the AY 2016-2017. The goal of the workshop was to assist local HS science/engineering teachers in their curriculum development, with
                        focus on subjects that MACES specializes in: energy and sensing. To this end, the graduate students formed three groups, each working on one topic. These were Light and Energy, Nanotechnology, and Sensors in Everyday Life. The
                        workshop opened with welcome remarks by Prof. Jennifer Lu, followed by brief introductory talks on each topic by graduate students Som Sarang and Melissa Xu and Profs. Min Hwan Lee and Sai Ghosh. Over the next day or so, the teachers
                        toured the research labs and interacted with the students informally as they got a feel for what the modules would look like, and what the participating graduate students were working on in their labs. Through these discussions,
                        the final module structures developed as: a tutorial on each topic, a report of applications related to each and a demo with accompanying set of instructions. With Fall semester coming up, plans are in full swing as MACES center
                        manager Mariana Hernandez and STEM Resource Center Coordinator Dr. Petia Gueorguieva join Prof. Ghosh in planning the schedule for the graduate students to visit each school and introduce the modules. The most popular modules requested
                        by the teachers include Fuel cells and Batteries, Sular Cells, Atomic Force Microscopy, Surface-to-volume in the nanoscale, and Crime Scene Investigation, led by students Angela Andrade, Som Sarang, Jose Amaral, Mark Bartulo, and
                        Melissa Xu, respectively.
                </p>
        </li>
</ul>

<div id="pageControl">
        <div class="Previous pg-Control pgButton" id="previous">
                <a>Previous</a>
        </div>

        <div class="PageNumber pg-Control">
                <a id="num">1</a>
        </div>

        <div class="Next pg-Control pgButton">
                <a>Next</a>
        </div>
  
  

</div>

<script>
  
  window.onload = (function () {
     
      var list = document.getElementById("container").children;
    var size = document.getElementById("container").getElementsByTagName("li").length;
    
      for ( var i = 0; i < size; i++){
       list[i].style.display = 'none';
      }
    
    var page = 1;
     for( var i = (page * 6) - 6; i < (page * 6); i++){
       list[i].style.display = 'block';
     }
    
   function goToPage(page) {
        var size = document.getElementById("container").getElementsByTagName("li").length;
     
     var list = document.getElementById("container").children;
      
      for ( var i = 0; i < size; i++){
       list[i].style.display = 'none';
      }
     
    
     for( var i = (page * 6) - 6; i < (page * 6); i++){
       list[i].style.display = 'block';
     }
       
       $('html, body').animate({
        scrollTop: $(list[(page * 6) - 6]).offset().top - 300
    }, 800);
    
    }
  
    
$(".Previous").click(function () {
   var pageNum = Number(document.getElementById("num").innerHTML);
    var numElement = document.getElementById("num");
	
  if(pageNum > 1){
    pageNum--;
  	$("#num").text(pageNum);
    goToPage(pageNum);
  }
 

});
  
  $(".Next").click(function () {
  var pageNum = Number(document.getElementById("num").innerHTML);
  var numElement = document.getElementById("num");
  var size = document.getElementById("container").getElementsByTagName("li").length;
  var maxPage = Math.round(size / 6);
    
  if (pageNum < maxPage){
   pageNum++;
   $("#num").text(pageNum);
    goToPage(pageNum);
  }
});
    
  
    
      });
</script>

