.content-inner {
        max-width: 100%;
        width: auto;
}

//Main Page
h1.page-title {
        //title
        display: none;
        font-family: 'roboto mono';
        font-size: 60px;
        line-height: 1em;
}

.page-desc {
        //subtitle
        display: none;
        margin: 0;
}

.page-desc p {
        font-size: 14px;
}

//Publications page
#pub-container, #news-container {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 2px solid #ddd;
        margin-bottom: 12px;
}

#pubInput, #newsInput {
        border: 0px;
        width: 15em;
}

#pub {
        list-style-type: none;
        padding: 0;
        margin: 0;
}

#pub li a {
        border: 0px solid;
        border-bottom: 3px solid #ddd;
        margin-top: -1px;
        background-color: #fff;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
}

#pub li a.header {
        background-color: #e2e2e2;
        cursor: default;
}

#pub li a:hover:not(.header) {
        background-color: #eee;
}

.pub-content {
        pointer-events: none;
        cursor: default;
}

//nasa field trip
.nasa-field-trip-info {
        font-size: 18px;
}

//open house
.open-house-info {
        font-size: 18px;
}

//facilities
.facilities-section {
        color: #a3a3a3;
}

.facilities-content, .facilities-labs {
        font-size: 1.2em;
}

.dropdown {
        list-style-type: none;
}

ol {
        padding-left: 0;
        list-style-type: none;
}

ol>li {
        padding-bottom: 10px;
}

.facility-subtitle, .facility-microsection {
        padding-left: 2em;
}

.facility-subtitle {
        padding-top: 1em;
        font-size: 1.25em;
}

li>p {
        padding-bottom: 1em;
}

.facility-microsection {
        padding-left: 4em;
}

//graduates page
.graduates-content {
        list-style-type: none;
        padding-bottom: 1em;
}

#team {
        margin: 80px 0 30px;
}

.center {
        text-align: center;
}

h2 {
        font-size: 1.6em;
        font-weight: 100;
        color: #222;
}

h2::before {
        display: block;
        content: " ";
        margin-top: -150px;
        height: 150px;
        visibility: hidden;
}

.team--container, .team--section {
        max-width: 1100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
}

.member {
        width: 150px;
        margin: 15px;
        padding: 23px 19px 18px;
        box-shadow: 0px 4px 20px rgba(46, 61, 73, 0.05);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 1px solid hsla(0, 0%, 73%, 0.2);
        border-bottom: 3px solid #b3a6ee;
}

.member img {
        width: 100px;
        height: 100px;
        border-radius: 500px;
        margin-bottom: 0.5em;
}

img {
        border-style: none;
}

.member h3 {
        font-size: 1em;
        margin: 11px 0 1px;
        font-weight: 100;
        color: #222;
}

.member p, .information p {
        margin: 0;
        margin-bottom: 0.8em;
        font-size: 0.8em;
        color: #555;
        font-weight: 100;
}

.separator {
        border: 1px solid #eaeaea;
        width: 40px;
        margin-left: 7px 0 11px;
        margin-bottom: 0.5em;
}

.social {
        display: flex;
        align-items: center;
        opacity: 0.6;
}

.social a {
        margin: 0 8px;
        box-shadow: none;
        text-decoration: none;
        color: #222;
        transition: color .5s ease, box-shadow .3s ease;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
}

p, b, h1, h2, h3, h4, li {
        color: black;
}

/*
// TEAM Page
#collection-5a1b2ce70d92971bbcf57b56 .banner-image.content-fill {
     position: absolute !important;
   left:  0px !important;
    top: -165px !important;
    bottom: 0px !important;
    width: 100% !important;
   height: auto !important;

      content: url( 'https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a338620e2c483629651ace4/1513326115989/earth.jpg') !important;
} */

// Research Page ------------------
// Sensing
/*#collection-57b21d386b8f5b7524bbfe48 .banner-image.content-fill {
     position: absolute !important;
   left:  0px !important;
    top: -165px !important;
    bottom: 0px !important;
    width: 100% !important;
   height: auto !important;

      content: url( 'https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a3337e4e2c48362964966b1/1513306086814/Sensing.jpg') !important;

} */

// Energy Background
/*#collection-57b21d22d2b857b404e009fa .banner-image.content-fill {
     position: absolute !important;
   left:  0px !important;
    top: -165px !important;
    bottom: 0px !important;
    width: 100% !important;
   height: auto !important;

      content: url('https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a37056441920241eba27e2d/1513555302579/EnergyFlat.jpg') !important;

} */

// Pubilcation background
/*#collection-57bddd07414fb59d42a2e2cc .banner-image.content-fill {
     position: absolute !important;
   left:  0px !important;
    top: -165px !important;
    bottom: 0px !important;
    width: 100% !important;
   height: auto !important;

      content: url('https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a37385424a6949ae30778c2/1513568342895/Publications+Page.jpg') !important;

} */

// Facilities page
/*#collection-599e25338419c2b7f1b4c4f7 .banner-image.content-fill {
     position: absolute !important;
   left:  0px !important;
    top: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
   height: 100% !important;

      content: url('https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a374f5c71c10b467b3f2464/1513574243465/Facilities.png') !important;

} */

#desktopNav .main-nav .folder-parent ul.folder-child li {
        background-color: rgba(0, 0, 0, 0.15) !important;
}

#desktopNav .main-nav .folder-parent ul.folder-child li:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
}

#desktopNav .main-nav ul li a:hover {
        border-bottom: 3px solid #DEBF40;
        padding-bottom: 3px;
}

@media only screen and(max-width:768px) {
        #parallax-images .image-container[data-url-id='nasa-field-trip'] {
                height: 37%;
                background-color: white !important;
        }
        #parallax-images .image-container[data-url-id='nasa-field-trip'] img {
                position: absolute !important;
                left: 0px !important;
                top: 0px !important;
                bottom: 0px !important;
                width: 100% !important;
                height: auto !important; //height: 500px !important;
                content: url('https://static1.squarespace.com/static/5797b899e58c628130295dde/t/5a2777b4e2c483816e424cd0/1512535989951/NASA+trip-mobile-min.jpg') !important;
                background-color: white !important;
        }
        .nav-wrapper .page-collection:hover, .folder:hover {
                background-color: #ccced1;
        }
        .parallax-item[data-url-id='nasa-field-trip'] .title-desc-wrapper {
                margin-bottom: -175px !important;
        }
        #mobileMenu {
                color: white !important;
        }
}
